*{
    margin: 0%;
    text-align: center;
    
}
body{
    background: #9AD0EC;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-color: 3px solid lightblue;
}
.car{
margin-left: 30%;
margin-right: 15%;
text-align: center;
background-color:cornsilk;
width: 40vw;
height: 80vh;
padding: 10px;
border-radius: 20px;
box-shadow: darkgray;
}
.author{
    font-size: 26px;
    font-weight: bold;
    font-stretch: extra-expanded;
}
.job{
    font-size: 22px;
    font-weight: bold;
    color: #95D1CC;
}
.info{
    font-size: 20px;
    color: darkgray;
}
.prev-btn{
    border-style: none;
    
}
.next-btn{
    border-style: none;
}